body {
  background-color: rgb(253, 251, 251);
  margin-top: 100px;
}

#cabecalho {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(37, 158, 97);
  text-shadow: black 0.1em 0.2em 0.2em;
  color: white;
}

#titulo {
  text-align: center;
  font-family: monospace;
  margin-bottom: 10px;
  margin-top: 15px;
}

#subtitulo {
  text-align: center;
  font-size: x-large;
  margin-bottom: 15px;
  margin-top: 0px;
}

#minha_foto {
  float: left;
  width: 300px;
  border-radius: 10px;
  border-right: 10px;
}

#rodape {
  position: absolute;
  text-align: center;
  background-color: rgb(37, 158, 97);
  color: white;
  right: 0;
  left: 0;
  bottom: 0;
  line-height: 25px;
}

#contatos {
  margin-bottom: 5px;
  margin-top: 10px;
  text-shadow: black 0.1em 0.2em 0.2em;
}

#github {
  background-color: rgb(93, 182, 121);
  text-decoration: none;
  color: white;
  padding: 3px
}

#linkedin {
  background-color: rgb(93, 182, 121);
  text-decoration: none;
  color: white;
  padding: 3px
}

#nav {
  font-size: 18px;
  position: absolute;
  top: 15px;
}

aside {
  text-align: center;
  display: grid;
  border-style: solid;
  border-color: seagreen;
  background-color: rgb(164, 226, 184);
  margin-left: 80%;
  max-width: fit-content;
}

#artigo {
  float: left;
}

#licoes_aprendidas {
  text-align: left;
  display: grid;
  max-width: fit-content;
}

#licoes_a_aprender {
  text-align: left;
  display: grid;
  max-width: fit-content;
}