.first {
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.second {
    display: inline-block;
    margin-left: 630px;
}

.third {
    display: inline-block;
}

h3 {
    text-align: center
}
ul li:not(.first.second.third){
    text-align: center;
    list-style: none;
}